$primary-color: #59fb69;
$secondary-color: #383a39;
$pom-color: #54d0c9;

section {
    display: flex;
    gap: 20px;
    padding: 20px;
    .box{
        height: 200px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $pom-color;    
    }

    .box1{
        background-color: $primary-color;        
    }
    
    .box2{
        background-color: $secondary-color;
    }
    
    .box3{
        background-color: $pom-color;
    }
}
