@use '_variables';   
@use '_reset';
@use '_fonts';


@mixin box-color($color: black, $shadow-length: 4px) {    
    background-color: $color;
    box-shadow: $shadow-length $shadow-length 10px grey;
    color: white;
}

@mixin flex-container($align-items: center, $gp: 4px, $padding: 20px) {
    display: flex;
    justify-content: center;
    align-items: $align-items;
    gap: $gp;
    padding: $padding;
}


.pom{
    color: variables.$pom-color;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.heading{
    @extend .pom;
    color: variables.$secondary-color;
    transition: 1s all ease-in-out;
    &.active{
        color: variables.$pom-color;
    }
}

section {
    @include flex-container($gp: 20px, $align-items: flex-start);
    .box{
        height: 200px + 150px;
        width: calc(100% / 4);
        // flex-grow: 1;
        @include flex-container();
        color: variables.$pom-color;
        font-size: (100/20)+rem;
    }

    .box1{
        @include box-color(variables.$secondary-color, 10px);     
    }
    
    .box2{
        @include box-color(20px);  
    }
    
    .box3{
        @include box-color(blue, 30px);
    }
}
